/*
 *  linkedviews.css
 *
 *  Name: Bas Katsma
 *  Student 10787690
 *  Homework - Week 6
 *
 */

body {
    text-align: center;
    font-family: Futura;
}

h1 {
    margin-top: 35px;
    font-size: 30px;
}

h2 {
    font-size: 16px;
}

p {
    font-size: 11px;
}

.pos-f-t {
    text-align: left !important;
    font-family: Helvetica !important;
}

#storytellingTitle {
    font-family: Futura;
}

.col-4 {
    margin-bottom: 30px;
    text-align: center !important;
}

.container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.d3-tip {
    position: absolute;
    height: auto;
    padding: 10px;
    font: 14px sans-serif;
    font-family: Futura;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#mapTooltip {
    width: 260px;
    text-align: left;
}

#barTooltip {
    width: 120px;
    text-align: center;
}

/*  Add custom navigation bar icon and color  */
.custom-toggler.navbar-toggler {
    border-color: teal;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='teal' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*  Define interactive map hover and selection properties  */
path:hover {
    fill-opacity: .4;
}

.selected {
    fill: #06aa61 !important;
}

/*  Adjust barchart Y-axis label  */
.yText {
    position: relative;
    font-size: 14px;
    text-align: center;
}
