html, body {
  background-color: #333;
}

.container {
    padding-right: 180px;
    padding-left: 180px;
}

.row {
    padding-right: 160px;
    padding-left: 160px;
}

.padding-middle {
    padding-top: 180px;
}

.padding-bottom {
    padding-top: 180px;
}

#jumbotron {
    color: #fff;
    background-color: transparent !important;
    animation-duration: 0.85s;
    -webkit-animation-duration: 0.85s;
    -moz-animation-duration: 0.85s;
    -ms-transition-animation-duration: 0.85s;
}

#deck1 {
    animation-duration: 0.85s;
    -webkit-animation-duration: 0.85s;
    -moz-animation-duration: 0.85s;
    -ms-transition-animation-duration: 0.85s;
    animation-delay: 0.15s;
    -webkit-animation-delay: 0.15s;
    -moz-animation-delay: 0.15s;
    -ms-transition-animation-delay: 0.15s;
}

#deck2 {
    animation-duration: 0.85s;
    -webkit-animation-duration: 0.85s;
    -moz-animation-duration: 0.85s;
    -ms-transition-animation-duration: 0.85s;
    animation-delay: 0.30s;
    -webkit-animation-delay: 0.30s;
    -moz-animation-delay: 0.30s;
    -ms-transition-animation-delay: 0.30s;
}

#week4, #week5, #week6, #week7 {
  visibility: hidden;
}
