.barchart rect {
  fill: steelblue;
  opacity: 0.25;
}

.axis text {
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke: black;
  stroke-width: 1px;
}

.axis .ytext,
.axis .xtext {
  font: 20px sans-serif;
}
