h1 {
  margin-top: 30px;
  margin-left: 30px;
  font: 30px sans-serif;
}

p {
  margin-left: 30px;
  font: 13px sans-serif;
}

.barchart rect {
  fill: steelblue;
  opacity: 0.25;
}

.bar:hover {
  fill: brown;
  opacity: 0.25;
}

.d3-tip {
  line-height: 1;
  font: 14px sans-serif;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 1);
  color: #fff;
  border-radius: 10px;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font: 14px sans-serif;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 1);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke: black;
  stroke-width: 1px;
}

.axis text {
  font: 14px sans-serif;
}

.axis .ytext,
.axis .xtext {
  font: 20px sans-serif;
}
